:root {
  --mainColour: #0f0f0f;
  --textColour: #ffffff;
  --accentColour: rgba(0, 0, 0, 0.25);
}
#githubLogo {
  filter: invert(0%);
}
#lightSwitch {
  filter: invert(100%);
}
@media screen and (max-width: 850px) {
  :root {
    --mainColour: #000000;
  }
}
