:root {
  --backgroundBlur: 10px;
}
body {
  margin: 0;
  background-color: var(--mainColour);
}

* {
  font-family: "Titillium Web";
  color: var(--textColour);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1%;
  backdrop-filter: blur(25px);
}

@supports (-webkit-backdrop-filter: blur(var(--backgroundBlur))) or
  (backdrop-filter: blur(var(--backgroundBlur))) {
  header {
    backdrop-filter: blur(var(--backgroundBlur));
    -webkit-backdrop-filter: blur(var(--backgroundBlur));
  }
}
@supports not (
  (-webkit-backdrop-filter: blur(var(--backgroundBlur))) or
    (backdrop-filter: blur(var(--backgroundBlur)))
) {
  header {
    background-color: var(--mainColour);
  }
}

#search {
  flex: 1;
  background-color: var(--accentColour);
  height: 2em;
  padding-left: 0.5em;
  margin: 0 2vb;
  border: 1px solid var(--textColour);
  font-size: 1em;
  max-width: 100%;
  width: 100%;
}

#search:focus {
  outline: none;
}

header > ul {
  list-style-type: none;
  display: flex;
  gap: 0.7vb;
  margin: 0;
  padding: 0;
}

#githubLogo,
#lightSwitch {
  height: 2em;
}

main {
  margin-top: var(--bodyPadding);
  display: flex;
  justify-content: center;
}

table {
  width: 98%;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

td,
th {
  padding: 15px;
  font-size: larger;
}

footer > p {
  text-align: center;
}

@media screen and (max-width: 850px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    text-align: center;
  }

  #search {
    margin: 10px;
    width: calc(100% - 20px);
  }
  header > ul {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
  }

  header > ul li {
    margin: 0;
  }
}
@media screen and (max-width: 550px) {
  header > h1 {
    font-size: 1.3em;
  }

  table {
    overflow-x: auto;
    display: block;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  th,
  td {
    word-break: break-word;
    white-space: normal;
    text-align: left;
    padding: 5px;
    font-size: smaller;
  }

  .credits {
    display: none;
  }
}
