/*Depreciated "Paper" theme
:root {
  --mainColour: rgb(255, 247, 235);
  --textColour: rgb(0, 0, 0);
  --accentColour: rgba(255, 229, 191, 0.25);
}*/
:root {
  --mainColour: rgb(255, 255, 255);
  --textColour: rgb(0, 0, 0);
  --accentColour: rgba(198, 198, 198, 0.25);
}
#githubLogo {
  filter: invert(100%);
}
#lightSwitch {
  filter: invert(0%);
}
header {
  background-color: var(--mainColour);
  backdrop-filter: none !important;
}
